@import "header";

$topMargin: 2rem;
$globalBorder: 2px solid black;

.a4-container {
  width: 2480px;
  height: 3508px;
}

.add-border {
  border: $globalBorder;
}

.add-top-margin {
  margin-top: $topMargin;
}

.vertical-alligned {
  flex-direction: column;
}
